@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-mode-color: #c7d6da; /* Dark mode color */
  --light-mode-color: #191a1a; /* Light mode color */
}

@media (prefers-color-scheme: dark) {
  .color-change {
    color: var(--dark-mode-color);
  }
}

@media (prefers-color-scheme: light) {
  .color-change {
    color: var(--light-mode-color);
  }
}
